/********************************************************/
/** VARS
/********************************************************/
:root {
    /****************************************************/
    /** COLORS
    /****************************************************/

    /** "POLAROID" **/
    --bg-color: #e4e4e4;
    --border-color-img: #6d6d6d;
    --text-color-label: var(--border-color-img);

    --border-color-img-hover: #091834;
    --text-color-label-hover: var(--border-color-img-hover);

    --border-radius: .29em;
}

/********************************************************/


.group_images {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
}

.image {
    display: inline-block;
    background: var(--bg-color);

    width: 100%;

    border: 2px solid var(--border-color-img);

    -moz-border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    border-radius: var(--border-radius);

    margin: 10px 0px;

    opacity: 0.8;

    font-family: "Arvo";
    color: var(--text-color-label);
}

.image a {
    opacity: 0.8;

    color: var(--text-color-label);

    text-decoration: none;
}

.image a:hover {
    opacity: 1;

    color: var(--text-color-label-hover);
}

.image img {
    width: 100%;
}

.image:hover {
    border-color: var(--border-color-img-hover);
    opacity: 1;

    color: var(--text-color-label-hover);
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
}

/********************************************************/
/**  MEDIA QUERIES - DESKTOP
/********************************************************/
@media screen and (min-width: 800px) {

    .image {
        width: 49%;
    }
}