/** ####################################################################################### */
/** ## VARIABLES
/** ####################################################################################### */
:root {
    /* -----------------------------------*/
    /* CORES
    /* -----------------------------------*/
    /* CORES - BÁSICAS */
    --cor-transparente: #ffffff00;
    --cor-crara: #f5faff;
    --cor-gris: #939791;
    --cor-escura: #292727;

    --cor-amarela: #e9e51b;
    --cor-azul: #037df0;
    --cor-laranxa: #eca918;
    --cor-verde: #4bb818;
    --cor-vermella: #da1111;

    /* CORES - ESQUEMA */
    --cor-bg-bloqueado: #e4dada9d;

    --cor-alerta: var(--cor-vermella);
    --cor-advertencia: var(--cor-laranxa);
    --cor-ok: var(--cor-verde);

    --cor-primaria: var(--cor-laranxa);
    --cor-secundaria: var(--cor-crara);
    --cor-alternativa: var(--cor-azul);

    --cor-header: #0064c2;
    --cor-header-texto: var(--cor-crara);
    --cor-footer: #024786;
    --cor-footer-texto: var(--cor-crara);

    /* ENLACES */
    --cor-link: var(--cor-azul);
    --cor-link2: var(--cor-crara);
    --cor-link-hover: var(--cor-primaria);

    --cor-btn: var(--cor-secundaria);
    --cor-btn-hover: var(--cor-alternativa);

    --cor-btn-bg: var(--cor-alternativa);
    --cor-btn-bg-hover: var(--cor-secundaria);

    /* -----------------------------------*/
    /* SOMBRAS
    /* -----------------------------------*/
    --cor-sombra: var(--cor-footer);
    --cor-sombra-hover: var(--cor-secundaria);

    --sombra: 2px 2px 4px;
    --sombra-hover: 2px 2px 4px;


    /* -----------------------------------*/
    /* DIMENSIONS
    /* -----------------------------------*/
    --main-width-desk: 80%;
    --main-width-desk-lg: 60%;

    /* -----------------------------------*/
    /* BORDES
    /* -----------------------------------*/
    --border: 2px solid ;
    --border-radius: .29em;

    --border-btn: 2px solid;
}

/** ####################################################################################### */
/** ## XERAL
/** ####################################################################################### */
* {
    box-sizing: border-box;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;

    height: 100%;
    min-height: 100vh;

    margin: 0;
    padding: 0;
}

/** ####################################################################################### */
/** ## LAYOUT
/** ####################################################################################### */

/** --------------------------------------------------------------------------------------- */
/** HEADER
/** --------------------------------------------------------------------------------------- */
header.principal {
    background-color: var(--cor-header);
    padding: .3em;

    color: var(--cor-header-texto);
    z-index: 999;
}

header.principal .logo {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;

    width: fit-content;
    margin: auto;
}

header.principal .logo img {
    margin-right: 1em;
}

header.principal .logo h1 {
    font-size: 2em;
}

/** --------------------------------------------------------------------------------------- */
/** MAIN
/** --------------------------------------------------------------------------------------- */
main.principal {
    width: 100%;
    margin: auto;
    margin-top: 0;
}

/** --------------------------------------------------------------------------------------- */
/** FOOTER
/** --------------------------------------------------------------------------------------- */
footer.principal {
    background-color: var(--cor-footer);
    padding: .5em .02em;

    text-align: center;

    color: var(--cor-footer-texto);
}

/** ####################################################################################### */
/** ## ELEMENTOS XENÉRICOS (ETIQUETAS)
/** ####################################################################################### */

/** --------------------------------------------------------------------------------------- */
/** ENLACES
/** --------------------------------------------------------------------------------------- */
a {
    color: var(--cor-link);
    text-decoration: none;
}
a:hover {
    color: var(--cor-link-hover);
}

/** --------------------------------------------------------------------------------------- */
/** VIDEOS
/** --------------------------------------------------------------------------------------- */
video {
    width: 100%;
    height: auto;
}

/** ####################################################################################### */
/** ## CONTENEDORES
/** ####################################################################################### */
.contedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;

    margin: 0;
    padding: .5em;
}

.contedor > * {
    margin: .2em;
}

.contedor.principal {
    flex-direction: column;
    flex-wrap: nowrap;

    height: 100%;

    padding: 0;
}

.contedor.principal > * {
    margin: auto;
}

/** ####################################################################################### */
/** ## ELEMENTOS ESPECÍFICOS
/** ####################################################################################### */

/** --------------------------------------------------------------------------------------- */
/** CONTRAER
/** --------------------------------------------------------------------------------------- */
.contraer {
    cursor: pointer;
    color: var(--cor-link) !important;
}

.contraer:hover {
    text-decoration: underline;
}

.contraible {
    display: none;
}

/** --------------------------------------------------------------------------------------- */
/** MANEXO DE EXEMPLOS
/** --------------------------------------------------------------------------------------- */
.exemplo {
    border: 0;
    margin: .2em;
    margin-top: .3em;
    margin-bottom: .3em;
}

.exemplo pre {
    padding: 0;
}

pre.codigo {
    overflow-y: hidden;
    overflow-x: scroll;

    font-family: monospace;
}

/** --------------------------------------------------------------------------------------- */
/** SECCIÓNS
/** --------------------------------------------------------------------------------------- */
.borde {
    padding: 1em;
    margin: .2em;
    border: var(--border);
    border-color: var(--cor-gris);
    border-radius: var(--border-radius);
}

/** --------------------------------------------------------------------------------------- */
/** CONSTRUÍR COPYLEFT
/** --------------------------------------------------------------------------------------- */
.copyleft {
    width: 15px;

    transform: rotate(180deg);
}

/** ####################################################################################### */
/** ## ELEMENTOS XENÉRICOS (CLASES)
/** ####################################################################################### */

/** --------------------------------------------------------------------------------------- */
/** DISPLAY
/** --------------------------------------------------------------------------------------- */
.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

/** --------------------------------------------------------------------------------------- */
/** TÍTULOS
/** --------------------------------------------------------------------------------------- */
.titulo {
    color: var(--cor-link) !important;
}

/** --------------------------------------------------------------------------------------- */
/** TEXTOS
/** --------------------------------------------------------------------------------------- */
.texto-xustificado {
    text-align: justify;
    text-justify: inter-word;
}

/** --------------------------------------------------------------------------------------- */
/** LISTAS
/** --------------------------------------------------------------------------------------- */
.lista {
    list-style: none;
    padding: 0;
}

.lista li {
    padding: .3em 0;
}

.lista li > *{
    display: block;

    padding: .5em;
}

/** ####################################################################################### */
/** ## ELEMENTOS ADAPTADOS
/** ####################################################################################### */

/** --------------------------------------------------------------------------------------- */
/** DROPDOWN
/** --------------------------------------------------------------------------------------- */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_hover */
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    top: 2em;

    padding: .3em;

    border-radius: var(--border-radius);
}

.dropdown-content a {
    display: block;

    min-width: 260px;

    margin-top: .2em;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/** ####################################################################################### */
/** ## MEDIA QUERIES - DESKTOP
/** ####################################################################################### */
@media screen and (min-width: 800px) {

    /** ################################################################################### */
    /** ## LAYOUT
    /** ################################################################################### */

    /** ----------------------------------------------------------------------------------- */
    /** HEADER
    /** ----------------------------------------------------------------------------------- */
    header.principal {
        position: sticky;
        top: 0;
        padding: 1em .3em;
    }

    header.principal .logo {
        width: var(--main-width-desk);
    }

    header.principal .logo img {
        margin-right: 1em;
    }

    /** ----------------------------------------------------------------------------------- */
    /** MAIN
    /** ----------------------------------------------------------------------------------- */
    main.principal {
        width: var(--main-width-desk);
    }

    /** ################################################################################### */
    /** ## ELEMENTOS ESPECÍFICOS
    /** ################################################################################### */

    /** ----------------------------------------------------------------------------------- */
    /** MANEXO DE EXEMPLOS
    /** ----------------------------------------------------------------------------------- */
    .exemplo {
        margin-left: 0;
        margin-right: 0;
    }

    /** ----------------------------------------------------------------------------------- */
    /** SECCIÓNS
    /** ----------------------------------------------------------------------------------- */
    .borde {
        margin-left: 0;
        margin-right: 0;
    }

    /** ################################################################################### */
    /** ## ELEMENTOS ADAPTADOS
    /** ################################################################################### */

    /** ----------------------------------------------------------------------------------- */
    /** DROPDOWN
    /** ----------------------------------------------------------------------------------- */
    /* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_hover */
    .dropdown {
        position: relative;
    }

    .dropdown-content {
        position: absolute;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 10;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}

/** ####################################################################################### */
/** ## MEDIA QUERIES - DESKTOP LARGE
/** ####################################################################################### */
@media screen and (min-width: 1200px) {
    /** ################################################################################### */
    /** ## LAYOUT
    /** ################################################################################### */

    /** ----------------------------------------------------------------------------------- */
    /** HEADER
    /** ----------------------------------------------------------------------------------- */
    header.principal .logo {
        width: var(--main-width-desk-lg);
    }

    /** ----------------------------------------------------------------------------------- */
    /** MAIN
    /** ----------------------------------------------------------------------------------- */
    main.principal {
        width: var(--main-width-desk-lg);
    }
}
