/** ####################################################################################### */
/** ## VARIABLES
/** ####################################################################################### */
:root {
    /* DIMENSIONS */
    --pg-w: 100%;
    --pg-h: .3em;

    --pg-w-fill: 0;
    --pg-h-fill: var(--pg-h);

    /* CORES DE ANIMACIÓN */
    --pg-cor-animate-cor-base: var(--cor-azul);
    --pg-cor-animate-cor-alt: var(--cor-ok);
}

/** ####################################################################################### */
/** ## BARRAS DE PROGRESO
/** ####################################################################################### */
.progressbar {
    width: var(--pg-w);
    height: var(--pg-h);
    background-color: var(--cor-transparente);

    border-radius: var(--border-radius);
}

.progressbar-fill {
    width: var(--pg-w-fill);
    height: var(--pg-h-fill);

    border-radius: var(--border-radius);
}

/** ####################################################################################### */
/** ## ANIMACIÓNS
/** ####################################################################################### */

/* DE 0 ATA O PROGRESO */
.pg-animate .progressbar-fill {
    animation-name: pg-animate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* DO PROGRESO ATA ENCHERSE */
.pg-animate-full .progressbar-fill {
    animation-name: pg-animate-full;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* CAMBIO DE COR */
.pg-animate-cor .progressbar-fill {
    animation-name: pg-animate-cor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/** --------------------------------------------------------------------------------------- */
/** KEYPRAMES
/** --------------------------------------------------------------------------------------- */

/* DE 0 ATA O PROGRESO */
@keyframes pg-animate {
    0% {
        width: var(--pg-w-fill);
    }
    70% {
        width: 0%;
    }
    100% {
        width: var(--pg-w-fill);
    }
}

/* DO PROGRESO ATA ENCHERSE */
@keyframes pg-animate-full {
    0% {
        width: var(--pg-w-fill);
    }
    70% {
        width: 100%;
    }
    100% {
        width: var(--pg-w-fill);
    }
}

/* CAMBIO DE COR */
@keyframes pg-animate-cor {
    0% {
        background-color: var(--pg-cor-animate-cor-base);
    }
    30% {
        background-color: var(--pg-cor-animate-cor-alt);
    }
    100% {
        background-color: var(--pg-cor-animate-cor-base);
    }
}