/** ####################################################################################### */
/** ## LISTA
/** ####################################################################################### */
.proxecto-lista {
    width: 100%;
    height: 100%;
}

/** ####################################################################################### */
/** ITEMS
/** ####################################################################################### */
.proxecto-lista-item {
    display: grid;
    grid-template: "multimedia"
                   "etiqueta";
    width: 100%;
    height: 100%;
    min-height: 2em;

    background-color: var(--cor-secundaria);

    cursor: pointer;

    border: var(--border);
    border-color: var(--cor-alternativa);
    border-radius: var(--border-radius);

    margin: .3em 0;
    padding: 0;

    overflow: hidden;
}

.proxecto-lista-item-titulo {
    grid-area: etiqueta;
    bottom: .05em;

    z-index: 1;

    width: 100%;

    margin: 0;

    text-align: center;
    font-size: 2em;
    color: #e0e0e0;

    text-shadow: var(--sombra) var(--cor-sombra);
}

/** --------------------------------------------------------------------------------------- */
/** MOUSE OVER
/** --------------------------------------------------------------------------------------- */
.proxecto-lista-item:hover .img-alt {
    opacity: 1;
}

.proxecto-lista-item:hover .proxecto-lista-item-titulo {
    color: var(--cor-primaria);
}

/** ####################################################################################### */
/** ## MULTIMEDIA
/** ####################################################################################### */

.pr-lista-img, .pr-lista-video {
    grid-area: multimedia;
    grid-row: 1 / span 2;

    position: relative;

    opacity: 0.5;
}

/** ####################################################################################### */
/** VIDEOS
/** ####################################################################################### */
.pr-lista-video {
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0.5;
}

.pr-lista-video video {
    /* Para poñer o poster do video do mesmo tamaño que este*/
    object-fit: cover;

    margin: 0;
    padding: 0;
}

/* ICO PLAY */
.pr-list-play {
    position: absolute;
    width: 10% !important;
    height: auto;

    color: var(--cor-primaria);
}

/** --------------------------------------------------------------------------------------- */
/** MOUSE OVER
/** --------------------------------------------------------------------------------------- */
.pr-lista-img:hover, .pr-lista-video:hover {
    opacity: 1;
}

.proxecto-lista-item:hover .pr-list-play  {
    opacity: 0;
}

/** ####################################################################################### */
/** IMAXES
/** ####################################################################################### */
.pr-lista-img .img-pri, .pr-lista-img .img-alt  {
    display: block;
    width: 100%;
    height: 100%;
}

.pr-lista-img .img-pri {
    position: absolute;
}

.pr-lista-img .img-alt {
    opacity: 0;
    bottom: 0;
}

/** --------------------------------------------------------------------------------------- */
/** MOUSE OVER
/** --------------------------------------------------------------------------------------- */
.proxecto-lista-item:hover .img-pri {
    opacity: 0;
}
