/** ####################################################################################### */
/** ## ITEMS
/** ####################################################################################### */

/** --------------------------------------------------------------------------------------- */
/** FONDO
/** --------------------------------------------------------------------------------------- */
.proxecto-container {
    position: fixed;

    display: none;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    z-index: 999;

    background: var(--cor-bg-bloqueado);
}

/** --------------------------------------------------------------------------------------- */
/** VENTÁ MODAL
/** --------------------------------------------------------------------------------------- */
.proxecto {
    display: flex;
    flex-direction: column;
    justify-items: stretch;

    width: 80%;
    max-height: 80%;
    min-height: 2em;

    background: var(--cor-secundaria);

    border: var(--border);
    border-color: var(--cor-alternativa);
    border-radius: var(--border-radius);
}

.proxecto-titulo, .proxecto-body, .proxecto-footer {
    padding: .5em;
}

/** --------------------------------------------------------------------------------------- */
/** TITULO
/** --------------------------------------------------------------------------------------- */
.proxecto-titulo {
    display: flex;
    justify-content: space-between;

    margin: 0;

    background: var(--cor-alternativa);

    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: var(--cor-secundaria);

    text-shadow: var(--pr-sombra);
}

/** --------------------------------------------------------------------------------------- */
/** CONTIDO
/** --------------------------------------------------------------------------------------- */
.proxecto-contido {
    width: 100%;
    height: 100%;

    overflow-x: hidden;
    overflow-y: auto;
}

/* BODY */
.proxecto-body p {
    text-align: justify;
    text-justify: inter-word;
}

/* FOOTER */
.proxecto-footer ul {
    list-style: none;

    padding: 0;
}

.proxecto-footer ul li {
    padding: .3em;
}

/** ####################################################################################### */
/** ## MULTIMEDIA
/** ####################################################################################### */

/** ####################################################################################### */
/** VIDEOS
/** ####################################################################################### */

.proxecto-video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proxecto-video video {
    width: 100%;
    height: auto;
    max-width: 1000px;

    /* Para poñer o poster do video do mesmo tamaño que este*/
    object-fit: cover;

    margin: 0;
    padding: 0;
}

/* ICO PLAY */
.pr-play {
    position: absolute;
    width: 10% !important;
    height: auto;

    color: var(--cor-primaria);
}

/** ####################################################################################### */
/** IMAXES
/** ####################################################################################### */
.proxecto-img {
    width: 100%;
    max-height: 250px;

    overflow: hidden;
}

.proxecto-img .img-pri {
    width: 100%;
    height: auto;
}

/** ####################################################################################### */
/** ## MEDIA QUERIES - DESKTOP
/** ####################################################################################### */
@media screen and (min-width: 800px) {
    .proxecto-footer ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
    }
}
