/** ####################################################################################### */
/** ## SPINNER
/** ####################################################################################### */
.spinner {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 1000;

    width: 100%;
    min-width: 100vw;

    height: 100%;
    min-height: 100vh;

    background: var(--cor-bg-bloqueado);
}

/* TEXTO CARGANDO... */
.spinner span {
    margin: .5em;
}

.spinner-texto::after {
	content: "";
    animation: spinner-texto 2s infinite;
}

/* PARA EVITAR QUE SE OCULTE (SÓ PARA MOSTRAR COMO É) */
.spinner-demo {
    position: inherit;

    min-width: 0 !important;

    min-height: 100px !important;
}

/** ####################################################################################### */
/** ## ANIMACIÓNS
/** ####################################################################################### */

.spinner-out {
    animation-name: spinner-out;
    animation-duration: 1s;
}

/** --------------------------------------------------------------------------------------- */
/** KEYPRAMES
/** --------------------------------------------------------------------------------------- */
/* OCULTAR */
@keyframes spinner-out {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0.35;
    }
    100% {
        opacity: 0;
    }
}

/* TEXTO CARGANDO... */
@keyframes spinner-texto {
    33% {
        content: ".";
    }
    66% {
        content: "..";
    }
    100% {
        content: "...";
    }
}