/** ####################################################################################### */
/** ## VARIABLES
/** ####################################################################################### */
:root {
    /* DIMENSIONS */
    --tarxeta-w: 100%;
}

/** ####################################################################################### */
/** ## TARXETAS
/** ####################################################################################### */
.tarxeta {
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: nowrap;

    width: 100%;
    height: 100%;

    border: var(--border);
    border-radius: var(--border-radius);

    overflow: hidden;
}

.tarxeta main, .tarxeta footer {
    margin: 0;
    padding: .2em;
}

/** --------------------------------------------------------------------------------------- */
/** HEADER
/** --------------------------------------------------------------------------------------- */
.tarxeta header {
    flex-direction: column;
}

/** --------------------------------------------------------------------------------------- */
/** CONTIDO
/** --------------------------------------------------------------------------------------- */
.tarxeta-body p {
    padding: .8em;

    text-align: justify;
    text-justify: inter-word;
}

/** --------------------------------------------------------------------------------------- */
/** FOOTER
/** --------------------------------------------------------------------------------------- */
.tarxeta footer * {
    margin: .2em;
}

/** --------------------------------------------------------------------------------------- */
/** TÍTULO
/** --------------------------------------------------------------------------------------- */
.tarxeta-titulo {
    margin: 0;
    padding: .2em;

    border-bottom: 2px solid var(--cor-gris);

    text-align: center;

    color: var(--cor-primaria);

    font-size: 2em;
    font-weight: bold;

    text-shadow: var(--sombra) var(--cor-escura);
}

/** ####################################################################################### */
/** MULTIMEDIA
/** ####################################################################################### */

/** --------------------------------------------------------------------------------------- */
/** IMAXES
/** --------------------------------------------------------------------------------------- */
.tarxeta-img {
    width: 100%;

    overflow: hidden;
}

.tarxeta-img .img-pri {
    width: 100%;
    height: auto;
}

/** ####################################################################################### */
/** ## MEDIA QUERIES - DESKTOP
/** ####################################################################################### */
@media screen and (min-width: 800px) {
    .tarxeta {
        width: var(--tarxeta-w);
    }

    .tarxeta main, .tarxeta footer {
        padding: .5em;
    }

    /** ----------------------------------------------------------------------------------- */
    /** FOOTER
    /** ----------------------------------------------------------------------------------- */
    .tarxeta footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
    }
    .tarxeta footer * {
        margin: 0;
        margin-left: .1em;
        margin-right: .1em;
    }
}
