/** ####################################################################################### */
/** ## NAV
/** ####################################################################################### */

/* VISUALIZAICÓN DOS ELEMENTOS */
nav.menu-nav, nav.menu-nav .menu-nav-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;

    margin: 0;
    padding: .3em;
}

/* MENÚ BURGER */
nav .menu-collapse {
    align-self: flex-end;
    padding: .15em;

    font-size: 2em;

    color: var(--cor-secundaria);
}

/* LISTA DE ENLACES */
nav.menu-nav .menu-nav-items{
    display: none;
    list-style: none;
}

nav.menu-nav .menu-nav-items li{
    margin: .15em 0;
}

/* PARA MOSTRAR O MENÚ EN MÓBIL */
.menu-nav-visble {
    display: flex !important;
}

/** ####################################################################################### */
/** ## MEDIA QUERIES - DESKTOP
/** ####################################################################################### */
@media screen and (min-width: 800px) {

    /* VISUALIZAICÓN DOS ELEMENTOS */
    nav.menu-nav, nav.menu-nav .menu-nav-items {
        flex-direction: row;
    }

    /* MENÚ BURGER */
    nav .menu-collapse {
        display: none;
    }

    /* LISTA DE ENLACES */
    nav.menu-nav .menu-nav-items {
        display: flex;
    }

    nav.menu-nav .menu-nav-items li{
        margin: 0 .15em;
    }
}