/** ####################################################################################### */
/** ## FORMULARIOS
/** ####################################################################################### */
.formulario .btn:hover {
    color: var(--cor-primaria);
}

/* GRUPOS */
.formulario-grupo {
    display: flex;
    flex-direction: column;
}

.formulario-grupo > * {
    margin: .1em 0;
}

/* ETIQUETAS */
.formulario-grupo label {
    margin-top: .8em;

    color: var(--cor-alternativa);
}

/* INPUTS */
.formulario-grupo input {
    height: 2.5em;
}

/* BORDES */
.formulario-grupo input,
.formulario-textarea {
    border: var(--border);
    border-color: var(--cor-gris);
    border-radius: var(--border-radius);
}

/* TEXTAREA */
.formulario-textarea {
    height: 10em;

    padding: .5em;
}

/** --------------------------------------------------------------------------------------- */
/** ETIQUETA FLOTANTE
/** --------------------------------------------------------------------------------------- */
/* GRID */
.formulario-float {
    display: grid;
    grid-template: "etiqueta"
                   "recheo";
}

/* INPUT ASOCIADO */
.formulario-float > input {
    grid-area: etiqueta;
    grid-row: 1 / span 2;
    height: 3.2em;

    padding: 1em .4em 0;
}

/* ETIQUETA CON TRANSICIÓN */
.formulario-float > label {
    height: 0 !important;

    margin: .3em 0 0 .3em;

    grid-area: etiqueta;
    font-size: .97em;
    transition: font-size 0.4s;
}

/* ON-FOCUS */
.formulario-float > input:focus + label {
    font-size: .8em;
    color: var(--cor-gris);
}