/** ####################################################################################### */
/** ## CORES
/** ####################################################################################### */

/* TEXTOS - BÁSICAS */
.texto-craro {
    color: var(--cor-crara) !important;
}

.texto-escuro {
    color: var(--cor-escura) !important;
}

.texto-gris {
    color: var(--cor-gris) !important;
}

.texto-amarelo {
    color: var(--cor-amarela) !important;
}

.texto-azul {
    color: var(--cor-azul) !important;
}

.texto-laranxa {
    color: var(--cor-laranxa) !important;
}

.texto-verde {
    color: var(--cor-verde) !important;
}

.texto-vermello {
    color: var(--cor-vermella) !important;
}

/* TEXTOS - ESQUEMA */
.texto-primario {
    color: var(--cor-primaria) !important;
}

.texto-secundario {
    color: var(--cor-secundaria) !important;
}

.texto-alternativo {
    color: var(--cor-alternativa) !important;
}

.texto-alerta {
    color: var(--cor-alerta) !important;
}

.texto-advertencia {
    color: var(--cor-advertencia) !important;
}

.texto-ok {
    color: var(--cor-ok) !important;
}

/* FONDOS - BÁSICAS */
.bg-craro {
    background: var(--cor-crara) !important;
}

.bg-escuro {
    background: var(--cor-escura) !important;
}

.bg-gris {
    background: var(--cor-gris) !important;
}

.bg-amarelo {
    background: var(--cor-amarela) !important;
}

.bg-azul {
    background: var(--cor-azul) !important;
}

.bg-laranxa {
    background: var(--cor-laranxa) !important;
}

.bg-verde {
    background: var(--cor-verde) !important;
}

.bg-vermello {
    background: var(--cor-vermella) !important;
}

/* FONDOS - ESQUEMA */
.bg-primario {
    background: var(--cor-primaria) !important;
}

.bg-secundario {
    background: var(--cor-secundaria) !important;
}

.bg-alternativo {
    background: var(--cor-alternativa) !important;
}

.bg-alerta {
    background: var(--cor-alerta) !important;
}

.bg-advertencia {
    background: var(--cor-advertencia) !important;
}

.bg-ok {
    background: var(--cor-ok) !important;
}