/** ####################################################################################### */
/** ## MARXES E PADDINGS
/** ####################################################################################### */

/** --------------------------------------------------------------------------------------- */
/** MARXES
/** --------------------------------------------------------------------------------------- */
/* TODAS */
.m-auto {
    margin: auto !important;
}

.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: .1em !important;
}

.m-2 {
    margin: .3em !important;
}

.m-3 {
    margin: .5em !important;
}

.m-4 {
    margin: .7em !important;
}

.m-5 {
    margin: 1em !important;
}

/* EIXO X */
.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.mx-1 {
    margin-left: .1em !important;
    margin-right: .1em !important;
}

.mx-2 {
    margin-left: .3em !important;
    margin-right: .3em !important;
}

.mx-3 {
    margin-left: .3em !important;
    margin-right: .3em !important;
}

.mx-4 {
    margin-left: .7em !important;
    margin-right: .7em !important;
}

.mx-5 {
    margin-left: 1em !important;
    margin-right: 1em !important;
}

/* EIXO Y */
.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.my-1 {
    margin-top: .1em !important;
    margin-bottom: .1em !important;
}

.my-2 {
    margin-top: .3em !important;
    margin-bottom: .3em !important;
}

.my-3 {
    margin-top: .5em !important;
    margin-bottom: .5em !important;
}

.my-4 {
    margin-top: .7em !important;
    margin-bottom: .7em !important;
}

.my-5 {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

/** --------------------------------------------------------------------------------------- */
/** PADDINGS
/** --------------------------------------------------------------------------------------- */
/* TODAS */
.p-0 {
    padding: 0 !important;
}

.p-1 {
    padding: .1em !important;
}

.p-2 {
    padding: .3em !important;
}

.p-3 {
    padding: .5em !important;
}

.p-4 {
    padding: .7em !important;
}

.p-5 {
    padding: 1em !important;
}

/* EIXO X */
.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.px-1 {
    padding-left: .1em !important;
    padding-right: .1em !important;
}

.px-2 {
    padding-left: .3em !important;
    padding-right: .3em !important;
}

.px-3 {
    padding-left: .3em !important;
    padding-right: .3em !important;
}

.px-4 {
    padding-left: .7em !important;
    padding-right: .7em !important;
}

.px-5 {
    padding-left: 1em !important;
    padding-right: 1em !important;
}

/* EIXO Y */
.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.py-1 {
    padding-top: .1em !important;
    padding-bottom: .1em !important;
}

.py-2 {
    padding-top: .3em !important;
    padding-bottom: .3em !important;
}

.py-3 {
    padding-top: .5em !important;
    padding-bottom: .5em !important;
}

.py-4 {
    padding-top: .7em !important;
    padding-bottom: .7em !important;
}

.py-5 {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
