/** ####################################################################################### */
/** ## BOTÓNS
/** ####################################################################################### */

/* BOTÓN BASE */
.btn {
    display: flex;
    flex-wrap: nowrap;
    border: var(--border-btn);
    border-radius: var(--border-radius);

    padding: .5em;

    cursor: pointer;
}

/* BOTÓN SOMBRA */
.btn-sombra {
    text-shadow: var(--sombra);
}

.btn-sombra:hover {
    text-shadow: var(--sombra-hover);
}

/* -----------------------------------*/
/* PECHAR
/* -----------------------------------*/

.btn-pechar {
    border: none;

    padding: .1em;

    color: var(--cor-secundaria);
}

.btn-pechar:hover {
    border: none;
    color: var(--cor-primaria);
}

/* -----------------------------------*/
/* RECHEOS - BÁSICOS
/* -----------------------------------*/

/* BOTÓN CRARO */
.btn-craro {
    background: var(--cor-crara);
    border-color: var(--cor-gris);

    color: var(--cor-gris);
}

.btn-craro:hover {
    background: var(--cor-gris);
    border-color: var(--cor-crara);

    color: var(--cor-crara);
}

/* BOTÓN GRIS */
.btn-gris {
    background: var(--cor-gris);
    border-color: var(--cor-crara);

    color: var(--cor-crara);
}

.btn-gris:hover {
    background: var(--cor-crara);
    border-color: var(--cor-gris);

    color: var(--cor-gris);
}

/* BOTÓN ESCURO */
.btn-escuro {
    background: var(--cor-escura);
    border-color: var(--cor-crara);

    color: var(--cor-crara);
}

.btn-escuro:hover {
    background: var(--cor-gris);
    border-color: var(--cor-escura);

    color: var(--cor-escura);
}

/* BOTÓN AMARELO */
.btn-amarelo {
    background: var(--cor-amarela);
    border-color: var(--cor-escura);

    color: var(--cor-escura);
}

.btn-amarelo:hover {
    background: var(--cor-escura);
    border-color: var(--cor-amarela);

    color: var(--cor-amarela);
}

/* BOTÓN AZUL */
.btn-azul {
    background: var(--cor-azul);
    border-color: var(--cor-crara);

    color: var(--cor-crara);
}

.btn-azul:hover {
    background: var(--cor-crara);
    border-color: var(--cor-azul);

    color: var(--cor-azul);
}

/* BOTÓN LARANXA */
.btn-laranxa {
    background: var(--cor-laranxa);
    border-color: var(--cor-crara);

    color: var(--cor-crara);
}

.btn-laranxa:hover {
    background: var(--cor-crara);
    border-color: var(--cor-laranxa);

    color: var(--cor-laranxa);
}

/* BOTÓN VERDE */
.btn-verde {
    background: var(--cor-verde);
    border-color: var(--cor-crara);

    color: var(--cor-crara);
}

.btn-verde:hover {
    background: var(--cor-crara);
    border-color: var(--cor-verde);

    color: var(--cor-verde);
}

/* BOTÓN VERMELLO */
.btn-vermello {
    background: var(--cor-vermella);
    border-color: var(--cor-crara);

    color: var(--cor-crara);
}

.btn-vermello:hover {
    background: var(--cor-crara);
    border-color: var(--cor-vermella);

    color: var(--cor-vermella);
}

/* -----------------------------------*/
/* RECHEOS - ESQUEMA
/* -----------------------------------*/

/* BOTÓN PRIMARIO */
.btn-primario {
    background: var(--cor-primaria);
    border-color: var(--cor-secundaria);

    color: var(--cor-secundaria);
}

.btn-primario:hover {
    background: var(--cor-secundaria);
    border-color: var(--cor-primaria);

    color: var(--cor-primaria);
}

/* BOTÓN SECUNDARIO */
.btn-secundario {
    background: var(--cor-secundaria);
    border-color: var(--cor-primaria);

    color: var(--cor-primaria);
}

.btn-secundario:hover {
    background: var(--cor-primaria);
    border-color: var(--cor-secundaria);

    color: var(--cor-secundaria);
}

/* BOTÓN ALTERNATIVO */
.btn-alternativo {
    background: var(--cor-alternativa);
    border-color: var(--cor-secundaria);

    color: var(--cor-secundaria);
}

.btn-alternativo:hover {
    background: var(--cor-secundaria);
    border-color: var(--cor-alternativa);

    color: var(--cor-alternativa);
}

/* BOTÓN ALERTA */
.btn-alerta {
    background: var(--cor-alerta);
    border-color: var(--cor-secundaria);

    color: var(--cor-secundaria);
}

.btn-alerta:hover {
    background: var(--cor-secundaria);
    border-color: var(--cor-alerta);

    color: var(--cor-alerta);
}

/* BOTÓN ADVERTENCIA */
.btn-advertencia {
    background: var(--cor-advertencia);
    border-color: var(--cor-secundaria);

    color: var(--cor-secundaria);
}

.btn-advertencia:hover {
    background: var(--cor-secundaria);
    border-color: var(--cor-advertencia);

    color: var(--cor-advertencia);
}

/* BOTÓN OK */
.btn-ok {
    background: var(--cor-ok);
    border-color: var(--cor-secundaria);

    color: var(--cor-secundaria);
}

.btn-ok:hover {
    background: var(--cor-secundaria);
    border-color: var(--cor-ok);

    color: var(--cor-ok);
}

/* -----------------------------------*/
/* SEN FONDO - BÁSICOS
/* -----------------------------------*/

/* BOTÓN CRARO */
.btn-craro-transp {
    border-color: var(--cor-crara);

    color: var(--cor-crara);
}

.btn-craro-transp:hover {
    border-color: var(--cor-escura);

    color: var(--cor-escura);
}

/* BOTÓN GRIS */
.btn-gris-transp {
    border-color: var(--cor-gris);

    color: var(--cor-gris);
}

.btn-gris-transp:hover {
    border-color: var(--cor-crara);

    color: var(--cor-crara);
}

/* BOTÓN ESCURO */
.btn-escuro-transp {
    border-color: var(--cor-escura);

    color: var(--cor-escura);
}

.btn-escuro-transp:hover {
    border-color: var(--cor-crara);

    color: var(--cor-crara);
}

/* BOTÓN AMARELO */
.btn-amarelo-transp {
    border-color: var(--cor-amarela);

    color: var(--cor-amarela);
}

.btn-amarelo-transp:hover {
    border-color: var(--cor-crara);

    color: var(--cor-crara);
}

/* BOTÓN AZUL */
.btn-azul-transp {
    border-color: var(--cor-azul);

    color: var(--cor-azul);
}

.btn-azul-transp:hover {
    border-color: var(--cor-crara);

    color: var(--cor-crara);
}

/* BOTÓN LARANXA */
.btn-laranxa-transp {
    border-color: var(--cor-laranxa);

    color: var(--cor-laranxa);
}

.btn-laranxa-transp:hover {
    border-color: var(--cor-azul);

    color: var(--cor-azul);
}

/* BOTÓN VERDE */
.btn-verde-transp {
    border-color: var(--cor-verde);

    color: var(--cor-verde);
}

.btn-verde-transp:hover {
    border-color: var(--cor-crara);

    color: var(--cor-crara);
}

/* BOTÓN VERMELLO */
.btn-vermello-transp {
    border-color: var(--cor-vermella);

    color: var(--cor-vermella);
}

.btn-vermello-transp:hover {
    border-color: var(--cor-crara);

    color: var(--cor-crara);
}

/* -----------------------------------*/
/* SEN FONDO - ESQUEMA
/* -----------------------------------*/

/* BOTÓN PRIMARIO */
.btn-primario-transp {
    border-color: var(--cor-primaria);

    color: var(--cor-primaria);
}

.btn-primario-transp:hover {
    border-color: var(--cor-alternativa);

    color: var(--cor-alternativa);
}

/* BOTÓN SECUNDARIO */
.btn-secundario-transp {
    border-color: var(--cor-secundaria);

    color: var(--cor-secundaria);
}

.btn-secundario-transp:hover {
    border-color: var(--cor-primaria);

    color: var(--cor-primaria);
}

/* BOTÓN ALTERNATIVO */
.btn-alternativo-transp {
    border-color: var(--cor-alternativa);

    color: var(--cor-alternativa);
}

.btn-alternativo-transp:hover {
    border-color: var(--cor-primaria);

    color: var(--cor-primaria);
}

/* BOTÓN ALERTA */
.btn-alerta-transp {
    border-color: var(--cor-alerta);

    color: var(--cor-alerta);
}

.btn-alerta-transp:hover {
    border-color: var(--cor-secundaria);

    color: var(--cor-secundaria);
}

/* BOTÓN ADVERTENCIA */
.btn-advertencia-transp {
    border-color: var(--cor-advertencia);

    color: var(--cor-advertencia);
}

.btn-advertencia-transp:hover {
    border-color: var(--cor-secundaria);

    color: var(--cor-secundaria);
}

/* BOTÓN OK */
.btn-ok-transp {
    border-color: var(--cor-ok);

    color: var(--cor-ok);
}

.btn-ok-transp:hover {
    border-color: var(--cor-secundaria);

    color: var(--cor-secundaria);
}
